@charset 'utf-8';
@use '../../foundation/global/_global' as *;

///////////////////////////////////////////////////////////
// ボタン
///////////////////////////////////////////////////////////

.c-button {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  padding: 0.6em 2.15em;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  transition: background-color .3s ease;

  @include hover {
    background-color: $c-primary-hover;
  }

  &--primary {
    background-color: $c-primary;
  }
}