@charset 'utf-8';
@use '../../foundation/global/_global' as *;

///////////////////////////////////////////////////////////
// input
///////////////////////////////////////////////////////////

.c-input {
  width: 100%;
  font-size: 18px;
  padding: .27em 1em .2em;
  background-color: $c-white;
  border: 1px solid $c-border;
  border-radius: 4px;

  &:focus {
    border-color: $c-primary;
  }
}