@charset 'utf-8';
@use '../../foundation/global/_global' as *;

///////////////////////////////////////////////////////////
// textarea
///////////////////////////////////////////////////////////

.c-textarea {
  width: 100%;
  min-height: 200px;
  padding: .8em 1em;
  font-size: 18px;
  background-color: $c-white;
  outline: 1px solid $c-border;
  border-radius: 4px;
  resize: none;
  @include max-screen($md) {
    font-size: 16px;
  }

  &:focus {
    outline-color: $c-primary;
  }
}