@charset 'utf-8';
@use '../../foundation/global/_global' as *;

///////////////////////////////////////////////////////////
// フォーム
///////////////////////////////////////////////////////////

.p-form__block {
  display: grid;
  grid-template-columns: 40% 60%;

  @include max-screen($md) {
    gap: 2px;
    grid-template-columns: 1fr;
  }

  &+& {
    margin-top: 20px;
  }
}

.p-form__label {
  margin-top: 0.4em;
}

.p-form__label_text {
  position: relative;
  display: inline-block;
  font-size: 18px;
  padding-right: 2.6em;
  @include max-screen($md) {
    font-size: 16px;
  }
}

.p-form__require {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 0.1em 0.6em;
  color: $c-white;
  border-radius: 4px;
  background-color: $c-warning;

  @include max-screen($md) {
    font-size: 10px;
  }
}

.p-form__field {
  & > {
    input {
      &.is-error {
        border-color: $c-warning;
      }
    }
  }
}

.p-form__error {
  display: none;
  position: relative;
  font-size: 12px;
  margin-top: 2px;
  padding: .1em .5em .1em 1.5em;
  color: $c-warning;
  background-color: $c-warning-light;

  &::before {
    position: absolute;
    top: 4px;
    left: .4em;
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: url("../img/icon/icon_warning.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.is-error {
    display: block;
  }
}

.p-form__checkbox {
  margin-top: 20px;
  @include max-screen($lg) {
    width: fit-content;
    margin: 20px auto 0;
  }

  input[type='checkbox'] {
    opacity: 0;
    position: absolute;

    +.p-form__checkbox_label {
      position: relative;
      display: inline-block;
      padding: .3em .3em .2em 32px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid $c-border;
        box-sizing: border-box;
        border-radius: .2rem;
      }

      &::after {
        content: "";
        display: none;
      }
    }

    &:focus+.p-form__checkbox_label {
      border-color: $c-primary;
    }

    &:checked+.p-form__checkbox_label::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0.5rem;
      display: block;
      width: 0.25rem;
      height: 0.8rem;
      transform: rotate(45deg);
      border-bottom: 3px solid $c-primary;
      border-right: 3px solid $c-primary;
    }
  }
}

.p-form__button {
  margin-top: 20px;
  text-align: center;

  .c-button {
    width: 200px;
  }
}