@charset 'utf-8';
@use '../foundation/global/_global' as *;

///////////////////////////////////////////////////////////
// ヘッダー
///////////////////////////////////////////////////////////

.p-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.p-header__logo {
  width: 180px;
}

.p-header__nav {
  ul {
    display: flex;
    li {
      + * {
        margin-left: 30px;
      }
    }
  }
}
