@charset 'utf-8';
@use '../foundation/global/_global' as *;

///////////////////////////////////////////////////////////
// ヘッダー
///////////////////////////////////////////////////////////

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_h_md;
  background-color: $c-primary;
  z-index: $z-header;
  @include max-screen($md) {
    height: $header_h_sm;
  }

  &.is-fixed {
    position: fixed;
    animation: headerSlideDown 1s;
    top: 0;
    left: 0;

    .l-header__menu_search {
      display: none;
    }

    @keyframes headerSlideDown {
      0% {
        opacity: 0;
        transform: translateY(-100px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.l-header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  @include max-screen($md) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}

.l-header__siteTitle {
  padding-left: calc(30/1920*100%);
  @include max-screen($md) {
    padding: 2px calc(30/1280*100%);
  }
}

.l-header__siteTitle_logo {
  display: inline-block;
}

.l-header__siteTitle_title {
  font-size: 12px;
  font-weight: 600;
  color: $c-white;
}

.l-header__menu {
  display: flex;
  align-items: center;
  gap: myClamp(20, 40, 768, 1280);
  flex-direction: row-reverse;
  height: inherit;
  margin-left: auto;
  @include max-screen($md) {
    display: block;
    width: 100%;
  }
}

.l-header__menu_nav {
  height: inherit;
}

.l-header__menu_navList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  height: inherit;
  border-left: 1px solid $c-white;

  @include max-screen($md) {
    grid-template-columns: repeat(3, 1fr);
    border-left: none;
    border-top: 1px solid $c-white;
  }
}

.l-header__menu_navItem {
  height: inherit;

  & + & {
    border-left: 1px solid $c-white;
  }
}

.l-header__menu_navItem_link {
  display: grid;
  place-content: center;
  padding: 0 2em;
  height: inherit;
  font-size: myClamp(12, 14, 992, 1280);
  color: $c-white;
  font-weight: 600;
  transition: background-color .3s ease;
  @include max-screen($md) {
    height: 40px;
  }

  @include hover {
    background-color: $c-primary-hover;
  }
}

.l-header__menu_search {
  @include max-screen($md) {
    position: absolute;
    bottom: 0;
    right: calc(30/1280*100%);
    transform: translateY(calc(100% + 16px));
    z-index: $z-header;
  }
}

.l-header__search {
  position: relative;

  input {
    background-color: #fff;
    border: 1px solid $c-border;
    box-sizing: border-box;
    display: block;
    padding: 0.3em 2.4em 0.3em 1em;
    width: myClamp(200, 220, 768, 1280);
    @include max-screen($md) {
      width: 220px;
    }

    &::placeholder {
      font-weight: 600;
      color: $c-gray;
    }
  }

  button {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    padding: 4px;
  }
}